body{
	font-size:13px;
	padding:0px;
	margin:0px;
}
ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.wid{
	width:1080px;
	margin:0px auto;
}
.topbar{
	height:40px;
	background-color:#eee;
}
.top{
	height:60px;
	border:1px solid #eee;
}